@media (max-width: 1200px) {
    .table-container {
        max-width: 900px;
    }
}

@media (max-width: 992px) {
    .table-container {
        max-width: 700px;
    }
}
@media (max-width: 767px) {
    .container {
        width: 350px;
        margin-top: 50px;
        padding: 20px 10px;
    }

    .form { 
        width: 300px;

        &__control {
            width: 100%;
        }
        h2 {
            font-size: 27px;
        }

        label {
            font-size: 16px;
            line-height: 28px;
        }
    }
    .btn {
        width: 300px;
    }
    .table-container {
        max-width: 570px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .table-container {
        max-width: 500px;
    }
}

@media (max-width: 576px) {
    .table-container {
        max-width: 420px;
        .table {
            .col:nth-child(5n), th:last-child {
                display: none;
            }
        }
    }
}

@media (max-width: 426px) {
    .table-container {
        max-width: 420px;
        font-size: 11px;
    }
}
